  <div class="div-text-left-armor">
    Current Head Armor:
  </div>
  <div class="div-box">
    {{character.headArmor + character.paddingHeadArmor - character.sunderHeadArmor - character.sunderPaddingHeadArmor}}
  </div>
  <div class="div-text-left-armor">
    Current Chest Armor:
  </div>
  <div class="div-box">
    {{character.breastArmor + character.paddingBreastArmor - character.sunderBreastArmor - character.sunderPaddingBreastArmor}}
  </div>
  <div class="div-text-left-armor">
    Current Left Arm Armor:
  </div>
  <div class="div-box">
    {{character.lArmArmor + character.paddingLArmArmor - character.sunderLArmArmor - character.sunderPaddingLArmArmor}}
  </div>
  <div class="div-text-left-armor">
    Current Right Arm Armor:
  </div>
  <div class="div-box">
    {{character.rArmArmor + character.paddingRArmArmor - character.sunderRArmArmor - character.sunderPaddingRArmArmor}}
  </div>
  <div class="div-text-left-armor">
    Current Left Leg Armor:
  </div>
  <div class="div-box">
    {{character.lLegArmor + character.paddingLLegArmor - character.sunderLLegArmor - character.sunderPaddingLLegArmor}}
  </div>
  <div class="div-text-left-armor">
    Current Right Leg Armor:
  </div>
  <div class="div-box">
    {{character.rLegArmor + character.paddingRLegArmor - character.sunderRLegArmor - character.sunderPaddingRLegArmor}}
  </div>
