<div class="div-text-left-armor">
  Sunder Head:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderPaddingHeadArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Body Padding:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderPaddingBreastArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Left Arm Padding:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderPaddingLArmArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Right Arm Padding:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderPaddingRArmArmor" />
</div>
<div class="div-text-left">
  Sunder Left Leg Padding:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderPaddingLLegArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Right Leg Padding:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderPaddingRLegArmor" />
</div>
