<div class="div-text-left-armor">
  Armor Head:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)" [(ngModel)]="character.headArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Armor Body:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)" [(ngModel)]="character.breastArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Armor Left Arm:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)" [(ngModel)]="character.lArmArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Armor Right Arm:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)" [(ngModel)]="character.rArmArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Armor Left Leg:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)" [(ngModel)]="character.lLegArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Armor Right Leg:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)" [(ngModel)]="character.rLegArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
