<div class="div-text-left">
  HP:
</div>
<div class="div-box">
  {{ character.hpLeft }}
</div>
<div class="div-text-left">
  Mana:
</div>
<div class="div-box">
  {{ character.currentMana }}
</div>
<div class="div-text-left">
  Move:
</div>
<div class="div-box">
  {{ character.move }}
</div>
<div class="div-text-left">
  Max Vigor:
</div>
<div class="div-box">
  {{ character.maxVigor }}
</div>
<div class="div-text-left">
  Toughness:
</div>
<div class="div-box">
  {{ character.toughness }}
</div>
<div class="div-text-left">
  Heroic turns:
</div>
<div class="div-box">
  {{ character.heroicTurns }}
</div>
