<div class="div-text-left-armor">
  Sunder Head Armor:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderHeadArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Body Armor:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderBreastArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Left Armor Arm:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderLArmArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Right Armor Arm:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderRArmArmor" />
</div>
<div class="div-text-left">
  Sunder Left Armor Leg:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderLLegArmor" />
</div>
<div class="div-text-left-armor">
  Sunder Right Armor Leg:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sunderRLegArmor" />
</div>
