<div class="div-text-left">
  STR:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.str" />
</div>
<div class="div-text-left">
  STA:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.sta" />
</div>
<div class="div-text-left">
  DEX:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dex" />
</div>
<div class="div-text-left">
  PER:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.per" />
</div>
<div class="div-text-left">
  REF:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.ref" />
</div>
<div class="div-text-left">
  Will:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.will" />
</div>
