<p>add-spells-form works!</p>
<h3>Add new Spell</h3>
<div class="spell-form">
  <form [formGroup]="form">
    <div>
      <mat-form-field hintLabel="School Name">
        <input matInput #input placeholder="School Name" formControlName="schoolName" required>
      </mat-form-field>
    </div>

    <div>
        <mat-form-field hintLabel="Name">
          <input matInput #input placeholder="Name" formControlName="name" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field hintLabel="Tier">
          <input matInput #input placeholder="Tier" formControlName="tier" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field hintLabel="Spell Type">
          <input matInput #input placeholder="Spell Type" formControlName="spellType" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field hintLabel="Spell Cost Type">
          <input matInput #input placeholder="Spell Cost Type" formControlName="spellCostType" required>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field hintLabel="Spell Cost">
          <input matInput #input placeholder="Spell Cost" formControlName="spellCost" required>
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field hintLabel="Description">
          <textarea input matInput #input placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <div>
        <hr>
        <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="save()">Submit</button>
      </div>
    </form>
  </div>
  