<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="navigate('/')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Home">home</mat-icon>
    </button>
    <button mat-icon-button (click)="navigate('/random-npc')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="NPC generator">pets</mat-icon>
    </button>
    <button mat-icon-button (click)="navigate('/skills')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Skills">menu_book</mat-icon>
    </button>
    <button mat-icon-button (click)="navigate('/equipment/meleeweapons')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Melee-Weapons">gavel</mat-icon>
    </button>  
    <button mat-icon-button (click)="navigate('/equipment/rangedweapons')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Ranged-Weapons">card_giftcard</mat-icon>
    </button>
    <button mat-icon-button (click)="navigate('/equipment/shields')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Shields">calendar_view_day</mat-icon>
    </button>
    <button mat-icon-button (click)="navigate('/spells')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Spells">commute</mat-icon>
    </button>
    |
    <button mat-icon-button (click)="navigate('/admin')" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Admin">security</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()" routerLinkActive="active">
      <mat-icon class="material-icons" aria-label="Logout">power_off</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet fxFlex></router-outlet>
