<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="'navigation'" mode="'over'" opened="false">
    <mat-toolbar>
      <a class="home-button" routerLink="/">
        <img class="app-logo" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" />
      </a>
    </mat-toolbar>
    <mat-nav-list class="navigation-list">
      <a class="navigation-item" mat-list-item routerLink="/" (click)="drawer.toggle()" routerLinkActive="active">
        <mat-icon class="material-icons">home</mat-icon>
        <span class="navigation-item-label">Home</span>
      </a>
      <mat-divider class="navigation-divider"></mat-divider>
      <a class="navigation-item" mat-list-item routerLink="/random-npc" (click)="drawer.toggle()"
        routerLinkActive="active">
        <mat-icon class="material-icons">pets</mat-icon>
        <span class="navigation-item-label">NPC generator</span>
      </a>
      <a class="navigation-item" mat-list-item routerLink="/admin" (click)="drawer.toggle()" routerLinkActive="active">
        <mat-icon class="material-icons">security</mat-icon>
        <span class="navigation-item-label">Admin</span>
      </a>
      <a class="navigation-item" mat-list-item (click)="logout()" routerLinkActive="active">
        <mat-icon class="material-icons">power_off</mat-icon>
        <span class="navigation-item-label">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar class="sidenav-content-toolbar" color="primary">
      <button mat-icon-button class="menu-button" type="button" aria-label="Toggle sidenav" (tap)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
      <span class="toolbar-spacer"></span>
      <span class="filler"></span>
    </mat-toolbar>
    <router-outlet fxFlex></router-outlet>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
