<div class="div-text-left">
  Trauma - Damage Right Leg:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgTRL" />
</div>
<div class="div-text-left">
  Bleed - Damage Right Leg:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgBRL" />
</div>
<div class="div-text-left">
  Critical - Damage Right Leg:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgCRL" />
</div>
<div class="div-text-left">
  Fire - Damage Right Leg:
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgFRL" />
</div>
