<div class="div-text-left-armor">
  Padding Armor Head:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)"
    [(ngModel)]="character.paddingHeadArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Padding Armor Body:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)"
    [(ngModel)]="character.paddingBreastArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Padding Armor Left Arm:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)"
    [(ngModel)]="character.paddingLArmArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Padding Armor Right Arm:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)"
    [(ngModel)]="character.paddingRArmArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Padding Armor Left Leg:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)"
    [(ngModel)]="character.paddingLLegArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
<div class="div-text-left-armor">
  Padding Armor Right Leg:
</div>
<div>
  <select class="select-options" [disabled]="!helpers.checkAuth(character.name)"
    [(ngModel)]="character.paddingRLegArmor">
    <option [ngValue]="0">0</option>
    <option [ngValue]="1">1</option>
    <option [ngValue]="2">2</option>
    <option [ngValue]="3">3</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="5">5</option>
  </select>
</div>
