<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>RangedWeapons</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-table [ds]="rangedWeapons" [loading]="loading" [displayedColumns]="displayedColumns"
      [editOpt]="{ type: eventType, column: 'name' }"></app-table>
      <mat-divider></mat-divider>
      <div *ngIf="authService.currentUserValue.role === 'ADMIN'">
        <app-add-ranged-form (updateTable)="updateTable()" [test]="106"></app-add-ranged-form>
      </div>
    </mat-card-content>
  </mat-card>
  