<div class = "div-character-box">
  Name: {{character.name}}
  <div class="flexBox-container-main">
    <div class="flexBox-item">
      <div class="div-text-left">
        STR:
      </div>
      <div class="div-text-left">
        STA:
      </div>
      <div class="div-text-left">
        DEX: 
      </div>
      <div class="div-text-left">
        PER:
      </div>
      <div class="div-text-left">
        REF:
      </div>
      <div class="div-text-left">
        Will:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.str">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.sta">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dex"> 
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.per"> 
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.ref">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.will"> 
      </div>
    </div>

    <div class="flexBox-item">
      <div class="div-text-left">
        Vigor Spent:
      </div> 
      <div class="div-text-left">
        Shield Weight:
      </div> 
      <div class="div-text-left">
        Weapon Weight:
      </div> 
      <div class="div-text-left">
        Bonus Vigor:
      </div> 
      <div class="div-text-left">
        Bonus Move:
      </div> 
      <div class="div-text-left">
        Bonus Encumbrance:
      </div> 
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)]= "character.vigorSpent">
      </div> 
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.shieldWeight">
      </div> 
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.weaponWeight">
      </div> 
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.vigorBonus">
      </div> 
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.moveBonus">
      </div> 
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.bonusEnc">
      </div> 
    </div>

    <div class="flexBox-item">
      <div class="div-text-left">
        Move: 
      </div>
      <div class="div-text-left">
        Max Vigor: 
      </div>
      <div class="div-text-left">
        Penalty: 
      </div>
      <div class="div-text-left">
        Toughness: 
      </div>
      <div class="div-text-left">
        HP: 
      </div>
      <div class="div-text-left">
        Encumbrance: 
      </div>
    </div>

    <div class="flexBox-item-2">
      <div class="div-box">
        {{character.move}}
      </div>
      <div class="div-box">
        {{character.maxVigor}}
      </div>
      <div class="div-box">
        {{character.penalty}}
      </div>
      <div class="div-box">
        {{character.toughness}}
      </div>
      <div class="div-box">
        {{character.hp}}
      </div>
      <div class="div-box">
        {{character.encumbrance}}
      </div>
    </div>

    <div class="flexBox-item">
      <div class="div-text-left">
        HP left:
      </div>
      <div class="div-text-left">
        (-Att):
      </div>
      <div class="div-text-left">
        (-Def):
      </div>
      <div class="div-text-left">
        (-Move):
      </div>
      <div class="div-text-left">
        (+Vg Cost):
      </div>
    </div>

    <div class="flexBox-item-2">
      <div class="div-box">
        {{character.hpLeft}}
      </div>
      <div class="div-box">
        {{character.minusAtt}}
      </div>
      <div class="div-box">
        {{character.minusDef}}
      </div>
      <div class="div-box">
        {{character.minusMove}}
      </div>
      <div class="div-box">
        {{character.plusVigorCost}}
      </div>
    </div>

    <div class="flexBox-item">
      <div class="div-text-left">
        Head Armor Weight:
      </div>
      <div class="div-text-left">
        Body Armor Weight:
      </div>
      <div class="div-text-left">
        Left Armor Arm Weight:
      </div>
      <div class="div-text-left">
        Right Armor Arm Weight:
      </div>
      <div class="div-text-left">
        Left Armor Leg Weight:
      </div>
      <div class="div-text-left"> 
        Right Armor Leg Weight:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.headWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.breastWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.lArmWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.rArmWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.lLegWeight">
      </div>
      <div> 
        <input class="input-width" type="number" [(ngModel)] = "character.rLegWeight">
      </div>
    </div>

    <div class="flexBox-item">
      <div class="div-text-left">
        Padding Head Weight:
      </div>
      <div class="div-text-left">
        Padding Body Weight:
      </div>
      <div class="div-text-left">
        Padding Left Arm Weight:
      </div>
      <div class="div-text-left">
        Padding Right Arm Weight:
      </div>
      <div class="div-text-left">
        Padding Left Leg Weight:
      </div>
      <div class="div-text-left"> 
        Padding Right Leg Weight:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.pHeadWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.pBreastWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.pLArmWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.pRArmWeight">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.pLLegWeight">
      </div>
      <div> 
        <input class="input-width" type="number" [(ngModel)] = "character.pRLegWeight">
      </div>
    </div>

    <div class="flexBox-item">
      <div class="div-text-left">
        Armor Head:
      </div>
      <div class="div-text-left">
        Armor Body:
      </div>
      <div class="div-text-left">
        Armor Left Arm:
      </div>
      <div class="div-text-left">
        Armor Right Arm:
      </div>
      <div class="div-text-left">
        Armor Left Leg:
      </div>
      <div class="div-text-left"> 
        Armor Right Leg:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.headArmor">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.breastArmor">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.lArmArmor">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.rArmArmor">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.lLegArmor">
      </div>
      <div> 
        <input class="input-width" type="number" [(ngModel)] = "character.rLegArmor">
      </div>
    </div>
  </div>

  <div class="flexBox-container-main">
    <div class="flexBox-item-3">
      <div class="div-text-left">
        <B>Trauma Damage:</B>
      </div>
      <div class="div-text-left">
        <B>Bleed Damage:</B>
      </div>
      <div class="div-text-left">
        <B>Critical Damage:</B>
      </div>
      <div class="div-text-left">
        <B>Fire Damage:</B>
      </div>
    </div>
    
    <div class="flexBox-item-3">
      <div class="div-text-left-2">
        Head:
      </div>
      <div class="div-text-left-2">
        Head:
      </div>
      <div class="div-text-left-2">
        Head:
      </div>
      <div class="div-text-left-2">
        Head:
      </div>
    </div>
    
    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgTH">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgBH">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgCH">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgFH">
      </div>
    </div>

    <div class="flexBox-item-3">
      <div class="div-text-left">
        Body:
      </div>
      <div class="div-text-left">
        Body:
      </div>
      <div class="div-text-left">
        Body:
      </div>
      <div class="div-text-left">
        Body:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgTB">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgBB">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgCB">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgFB">
      </div>
    </div>

    <div class="flexBox-item-3">
      <div class="div-text-left">
        Left Arm:
      </div>
      <div class="div-text-left">
        Left Arm:
      </div>
      <div class="div-text-left">
        Left Arm:
      </div>
      <div class="div-text-left">
        Left Arm:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgTLA">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgBLA">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgCLA">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgFLA">
      </div>
    </div>

    <div class="flexBox-item-3">
      <div class="div-text-left">
        Right Arm
      </div>
      <div class="div-text-left">
        Right Arm
      </div>
      <div class="div-text-left">
        Right Arm
      </div>
      <div class="div-text-left">
        Right Arm
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgTRA">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgBRA">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgCRA">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgFRA">
      </div>
    </div>

    <div class="flexBox-item-3">
      <div class="div-text-left">
        Left Leg:
      </div>
      <div class="div-text-left">
        Left Leg:
      </div>
      <div class="div-text-left">
        Left Leg:
      </div>
      <div class="div-text-left">
        Left Leg:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgTLL">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgBLL">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgCLL">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgFLL">
      </div>
    </div>

    <div class="flexBox-item-3">
      <div class="div-text-left">
        Right Leg:
      </div>
      <div class="div-text-left">
        Right Leg:
      </div>
      <div class="div-text-left">
        Right Leg:
      </div>
      <div class="div-text-left">
        Right Leg:
      </div>
    </div>

    <div class="flexBox-item-2">
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgTRL">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgBRL">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgCRL">
      </div>
      <div>
        <input class="input-width" type="number" [(ngModel)] = "character.dmgFRL">
      </div>
    </div>

    <div class="flexBox-item-2">
      <button mat-raised-button color="primary" (click)="calculationsService.updateStats(character)">Update</button>
    </div>
</div>