.flexBox-container-main {
  display: flex;
}

.flexBox-container-tables {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.flexBox-item {
  width: flex;
  margin: 1px;
  border:  1px solid black;
  background-color: burlywood;
  align-items: stretch;
  min-height: 130px;
}

.flexBox-item-2 {


}
.flexBox-item-3 {

}
.flexBox-item-4 {

}

