<div class="div-text-left">
  Trauma - Damage Right Arm
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgTRA" />
</div>
<div class="div-text-left">
  Bleed - Damage Right Arm
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgBRA" />
</div>
<div class="div-text-left">
  Critical - Damage Right Arm
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgCRA" />
</div>
<div class="div-text-left">
  Fire - Damage Right Arm
</div>
<div class="div-text-right">
  <input class="input-width" [disabled]="!helpers.checkAuth(character.name)" type="number"
    [(ngModel)]="character.dmgFRA" />
</div>
